# python basic syntax

back slash - print("Hello \
                    python")
                    
triple quote-print("""Welcome
                    to python
                    classes")
                    
string inside quote- print("python's world")

escape sequence- print('python\'s world')

formatted output- nam="xyz"
                  mark=4.099
                  print("the name of person is %s mark is %f",%(nam,mark))

# variable and related functions

In [1]:
a=5
b=5

In [2]:
id(a)

140735595127312

In [3]:
id(b)

140735595127312

In [4]:
a is b

True

In [5]:
del(a)

In [6]:
bin(b)

'0b101'

variable with same value between -5 to 256 points to same memory location

# operators

In [8]:
a=6
b=5

In [9]:
a**b

7776

In [10]:
a//b

1

In [11]:
a/b

1.2

In [12]:
a==b

False

In [13]:
a and b

5

In [14]:
a**-b

0.0001286008230452675